body {
  font-family: "Montserrat", sans-serif;
  background-color: #eceded;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 600;
  /* font-size: 24px;
  line-height: 1.17; */
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.title-colored {
  color: #fd9222;
}

.container {
  max-width: 335px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding-top: 20px;
  padding-bottom: 14px;
  background-color: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
  /* flex-grow: 1; */
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
  margin-right: auto;
  flex-grow: 1;
}

.header-menu-list {
  display: flex;
  gap: 24px;
  margin-right: 90px;
  display: none;
}

.header-logo-italic {
  font-style: italic;
  margin-right: 7px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  transition: color 250ms ease;
  position: relative;
}

.header-menu-link:hover,
.header-menu-link:active,
.header-menu-link:focus {
  color: #fd9222;
}

.header-menu-link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #fd9222;
  position: absolute;
  border-radius: 3px;
  left: 0;
  bottom: -36px;
}

.header-social-list {
  display: flex;
  gap: 14px;
  display: none;
}

.header-social-icon {
  fill: transparent;
  stroke: black;
  transition: stroke 250ms ease;
}

.header-social-icon:hover,
.header-social-icon:focus {
  fill: transparent;
  stroke: #fd9222;
}

.open-menu-btn {
  display: block;
  padding: 0;
  cursor: pointer;
  line-height: 0;
  border: none;
  background-color: transparent;
}

.hero {
  padding-bottom: 80px;
  background-color: #fff;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* padding: 380px 40px 40px; */
  padding: 395px 20px 20px 20px;
  border-radius: 30px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }
}

.hero-title {
  font-weight: 500;
  /* font-size: 28px; */
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
  padding-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  /* padding: 14px 40px; */
  padding: 12px 16px;
  background-color: #fd9222;
  border: none;
  border-radius: 100px;
  margin-right: 14px;
  transition: background-color 250ms ease, color 250ms ease;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-made-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 100px;
  padding: 12px 16px;
  transition: border-color 250ms ease, color 250ms ease;
}

.hero-made-link:hover,
.hero-made-link:focus {
  border-color: #fd9222;
  color: #fd9222;
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  /* margin-left: auto; */
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.hero-scroll-icon {
  width: 38px;
  height: 38px;
  margin-left: 14px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 50%;
}

.benefits {
  background-color: #1e1823;
  padding: 0 20px;
  margin-bottom: 80px;
}

.benefits-container {
  max-width: 335px;
  padding: 20px;
  margin: 0 auto;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 18px; */
  /* gap: 88px; */
  gap: 20px;
}

.benefits-item {
  /* flex-basis: calc((100% - 2 * 88px) / 3); */
  position: relative;
  padding-right: 28px;
}

.benefits-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -44px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 1px;
  margin-top: 60px;
  margin-bottom: 55px;
}

.benefits-icon-container {
  display: flex;
  align-items: flex-start;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  padding: 15px;
  margin-bottom: 22px;
}

.benefits-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.benefits-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.taste {
  margin-bottom: 80px;
  padding: 0 20px;
}

.taste-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 335px;
  margin: 0 auto;
}

.taste-title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  max-width: 335px;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  margin: 0 auto;
  display: flex;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.taste-item-white {
  border-radius: 15px;
  padding: 32px 49px 28px 28px;
  background-color: #fff;
  border: 1px solid #fd9222;
  width: 100%;
}

.arrow-white-item {
  position: relative;
}

.arrow-icon-white {
  stroke: #fd9222;
  fill: transparent;
  position: absolute;
  top: 14px;
  right: 14px;
}

.taste-item-black {
  border-radius: 15px;
  padding: 32px 49px 28px 28px;
  background-color: #1e1823;
  position: relative;
  width: 100%;
}

.arrow-black-icon {
  stroke: #ffffff;
  fill: transparent;
  position: absolute;
  top: 14px;
  right: 14px;
}

.taste-item {
  background-color: #fd9222;
  position: relative;
  border-radius: 15px;
  padding: 32px 49px 28px 28px;
  width: 100%;
}

.arrow-icon {
  stroke: white;
  fill: transparent;
  position: absolute;
  top: 14px;
  right: 14px;
}

.taste-image {
  margin-bottom: 36px;
}

.taste-subtitle-white {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

.made {
}

.made-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.made-text-container {
  /* padding: 32px; */
  padding: 20px 14px;
  border-radius: 15px;
  background-color: #fff;
}

.made-title {
  /* margin-bottom: 50px; */
  margin-bottom: 32px;
}

.made-image {
  width: 600px;
  height: 400px;
  max-width: 100%;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  /* margin-bottom: 28px; */
  margin-bottom: 20px;
}

.made-list {
}

.made-item {
  /* margin-bottom: 24px; */
  margin-bottom: 18px;
}

.made-item:last-child {
  margin-bottom: 0;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

.products {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 80px;
  padding-bottom: 80px;
}

.products-title {
  /* margin-bottom: 50px; */
  margin-bottom: 22px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px 18px; */
  gap: 22px;
}

.products-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #fff;
  /* width: calc((100% - 54px) / 4); */
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.products-image {
  margin: 0 auto;
  margin-bottom: 8px;
}

.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
}

.products-item-description {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.products-btn {
  font-weight: 600;
  font-size: 14px;
  color: #111;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  background-color: #fafafa;
}

.sellers {
  padding-bottom: 120px;
}

.sellers-title {
  margin-bottom: 50px;
}

.sellers-list {
  display: flex;
  gap: 16px;
}

.sellers-item {
  width: calc((100% - 32px) / 3);
  transition: all 0.3s ease;
}

.sellers-cover-wrap {
  position: relative;
  overflow: hidden;
}

.sellers-item img {
  transition: all 0.3s ease;
}

.sellers-image {
  border-radius: 15px 15px 0 0;
}

.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  padding: 28px 0;
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  border-radius: 0 0 15px 15px;
}

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(15px);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  display: flex;
  align-items: center;
  padding: 0 40px;
  border-radius: 15px 15px 0 0;
}

.sellers-item:hover .overlay {
  transform: translateY(0);
}

.reviews {
  margin-bottom: 120px;
}

.reviews-title {
  margin-bottom: 90px;
}

.reviews-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}

.reviews-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  padding: 56px 24px 24px 24px;
  border-radius: 15px;
  width: calc((100% - 56px) / 3);
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background-color: #fff;

  position: relative;
}

.reviews-image {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  transform: translateX(-50%);
  top: -42px;
}

.reviews-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.reviews-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
  padding: 14px 40px;
  border: 1px solid #fd9222;
  background-color: transparent;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
}

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-container-text {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 50px;
  margin-bottom: 24px;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
  max-width: 300px;
}

.footer-subtitle {
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  margin-bottom: 14px;
}

.footer-socials-container {
  margin-right: 50px;
  margin-left: auto;
}

.footer-social-list {
  display: flex;
  gap: 14px;
}

.footer-social-item {
}

.footer-social-link {
}

.footer-address-container {
}

.footer-address {
  font-style: normal;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-address-item {
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  padding-bottom: 4px;
}

.footer-navigation {
  display: flex;
  align-items: center;
}

.footer-menu-list {
  display: flex;
  gap: 24px;
  flex-grow: 1;
}

.footer-menu-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.email {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  width: 313px;
  height: 52px;
  background-color: transparent;
  color: #fff;
  padding: 0 24px;
}

.email::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.footer-button {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 17px 32px;
  border-radius: 100px;
  border: none;
  background-color: #fd9222;
  margin-left: 8px;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 517px;
  min-height: 794px;
  background-color: #fafafa;
  border-radius: 15px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.close-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.close-icon {
}

.form-title {
  text-align: left;
  max-width: 298px;
  margin-bottom: 40px;
}

.label-container {
  margin-bottom: 18px;
}

.label-name {
  display: block;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 8px;
}

.input-container {
  position: relative;
}

.form-input {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  background-color: transparent;
  outline: transparent;
  color: #111;
  padding-left: 62px;
  border-radius: 13px;
  width: 100%;
  height: 68px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  transition: box-shadow 250ms ease, border-color 250ms ease;
}

.form-input:hover,
.form-input:focus {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  border-color: #fd9222;
}

.user-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  transition: fill 250ms ease;
}

.form-input:hover + .user-icon {
  fill: #fd9222;
}

.email-icon {
  stroke: #404040;
  fill: none;
  transition: stroke 250ms ease, fill 250ms ease;
}

.form-input:hover + .email-icon {
  stroke: #fd9222;
  fill: none;
}

.phone-icon {
  stroke: #404040;
  fill: none;
  transition: stroke 250ms ease, fill 250ms ease;
}

.form-input:hover + .phone-icon {
  stroke: #fd9222;
  fill: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.textarea-form {
  resize: none;
  width: 100%;
  height: 137px;
  padding: 22px 24px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  outline: transparent;
  border-radius: 13px;
  background-color: transparent;
}

textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.checkbox-container {
  margin-bottom: 40px;
}

.checkbox-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  display: flex;
  align-items: center;
  position: relative;
}

/* .checkbox-label::before {
  content: "";
  width: 42px;
  height: 22px;
  border: 1px solid #fd9222;
  border-radius: 50px;
  margin-right: 10px;
  transition-duration: 300ms;
}

.checkbox-label::after {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #fd9222;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition-duration: 300ms;
}

.modal-check:checked + .checkbox-label::after {
  background-color: #fff;
  transform: translate(18px);
}

.modal-check:checked + .checkbox-label::before {
  background-color: #fd9222;
} */

.agree-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
  margin-left: 3px;
}

.checkbox-label span {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  transition: background-color 250ms ease, fill 250ms ease, border 250ms ease;
}

.modal-check:checked + .checkbox-label span {
  background-color: #fd9222;
  fill: #fff;
  border: none;
}

.form-button {
  display: block;
  border-radius: 100px;
  border: none;
  padding: 14px 40px;
  width: 117px;
  cursor: pointer;
  background-color: #fd9222;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-align: center;
  transition: background-color 250ms ease, color 250ms ease;
}

.form-button:hover,
.form-button:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.footer-social-icon {
  fill: none;
  stroke: #fff;
  transition: stroke 250ms ease, fill 250ms ease;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  fill: transparent;
  stroke: #fd9222;
}

@media screen and (min-width: 768px) {
  .benefits-item:not(:last-child)::after {
    display: none;
  }

  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .hero {
    padding-bottom: 49px;
  }

  .hero-container {
    padding: 670px 40px 40px 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-bg-tab.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0.4) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 28px;
  }

  .hero-btn,
  .hero-made-link {
    padding: 14px 40px;
  }

  .hero-scroll-link {
    margin-left: auto;
    margin-top: unset;
  }

  .made-container {
    width: 678px;
  }

  .made-image {
    width: 614px;
    background-color: transparent;
  }

  .made-text-container {
    width: 614px;
  }

  .header-navigation {
    gap: 83px;
  }

  .open-menu-btn {
    display: none;
  }

  .header-menu-list {
    display: flex;
    margin-right: 48px;
  }

  .header-social-list {
    display: flex;
  }

  .header-logo {
    font-size: 14px;
  }

  .header-logo-image {
    width: 21px;
    height: 21px;
  }

  .header-social-list {
    gap: 12px;
    margin-left: auto;
  }

  .header-social-icon {
    width: 20px;
    height: 20px;
  }

  .header-menu-link::after {
    display: none;
  }

  .made-text-container {
    padding: 32px;
  }

  .made-subtitle {
    margin-bottom: 28px;
  }

  .benefits {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .benefits-list {
    gap: 44px 88px;
  }

  .benefits-item {
    padding-right: 0;
    width: calc((100% - 88px) / 2);
  }

  .products {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .products-title {
    margin-bottom: 50px;
  }

  .products-list {
    gap: 32px;
  }

  .products-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefits-item:not(:last-child)::after {
    display: initial;
  }

  .container {
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero {
    padding-bottom: 80px;
  }

  .hero-container {
    padding: 380px 40px 40px 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-bg.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0.4) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(../images/hero-bg-2x.jpg);
    }
  }

  .header-logo {
    font-size: 18px;
  }

  .header-navigation {
    flex-grow: 1;
  }

  .header-social-list {
    gap: 14px;
  }

  .made .container {
    width: 1166px;
  }

  .made-container {
    flex-wrap: nowrap;
  }

  .made-title {
    margin-bottom: 50px;
  }

  .made-subtitle {
    margin-bottom: 28px;
  }

  .made-item {
    margin-bottom: 24px;
  }

  .title {
    font-size: 24px;
    line-height: 1.17;
  }

  .benefits-list {
    padding: 0 18px;
  }

  .benefits-item {
    width: calc((100% - 2 * 88px) / 3);
  }

  .products {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .products-title {
    margin-bottom: 50px;
  }

  .products-list {
    gap: 24px 18px;
  }

  .products-item {
    width: calc((100% - 54px) / 4);
  }
}
