body {
  font-family: "Montserrat", sans-serif;
  background-color: #eceded;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.title-colored {
  color: #fd9222;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 32px;
  background-color: #fff;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-menu-list {
  display: flex;
  gap: 24px;

  margin-right: 90px;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-menu-link:hover,
.header-menu-link:active,
.header-menu-link:focus {
  color: #fd9222;
}

.header-social-list {
  display: flex;

  gap: 14px;
}

.hero {
  padding-bottom: 80px;
  background-color: #fff;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  padding: 380px 40px 40px;
  border-radius: 30px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
  padding-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 14px 40px;
  background-color: #fd9222;
  border: none;
  border-radius: 100px;
  margin-right: 14px;
}

.hero-made-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 100px;
  padding: 14px 40px;
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

.benefits {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 120px;
}

.benefits-list {
  display: flex;
  padding: 0 18px;
  gap: 88px;
}

.benefits-item {
  flex-basis: calc((100% - 2 * 88px) / 3);
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.benefits-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.taste {
  padding-bottom: 120px;
}

.taste-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-title {
  padding-bottom: 28px;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;

  margin: 0 auto;
  display: flex;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 24px;
}

.taste-item-white {
  border-radius: 15px;
  padding: 28px 23px 36px 23px;
  background-color: #fff;
  border: 1px solid #fd9222;
}

.taste-item-black {
  border-radius: 15px;
  padding: 28px 23px 36px 23px;
  background-color: #1e1823;
}

.taste-item {
  background-color: #fd9222;

  border-radius: 15px;
  padding: 28px 23px 36px 23px;
}

.taste-image {
  margin-bottom: 36px;
}

.taste-subtitle-white {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

.made {
}

.made-container {
  display: flex;
}

.made-text-container {
  padding: 32px;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.made-title {
  padding-bottom: 50px;
}

.made-image {
  margin-right: 20px;
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  padding-bottom: 28px;
}
.made-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}
.made-item {
  list-style-type: disc;
}
.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

.products {
  padding-top: 120px;
  padding-bottom: 120px;
}

.products-title {
  margin-bottom: 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}

.products-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #fff;
  width: calc((100% - 54px) / 4);
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.products-image {
  margin: 0 auto;
  margin-bottom: 8px;
}
.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
}
.products-item-description {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}
.products-btn {
  font-weight: 600;
  font-size: 14px;
  color: #111;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  background-color: #fafafa;
}

.sellers {
  padding-bottom: 120px;
}

.sellers-title {
  margin-bottom: 50px;
}

.sellers-list {
  display: flex;
  justify-content: space-between;
}
.sellers-item {
  width: calc((100% - 36) / 3);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
}
.sellers-image {
}
.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
}

.reviews {
  margin-bottom: 120px;
}

.reviews-title {
  margin-bottom: 50px;
}

.reviews-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 28px;
}
.reviews-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;

  width: 360px;
  height: 242px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background-color: #fff;
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
}

.reviews-image {
  border-radius: 100%;

  margin-left: auto;
  margin-right: auto;
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 162px;
}
.reviews-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  padding-bottom: 24px;
  margin-top: 50px;
}
.reviews-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  padding: 0 24px 24px 24px;
}
.reviews-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
  padding: 14px 40px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  display: flex;
  margin: 0 auto;
}

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-container-text {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 54px;
}
.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
  width: 300px;
  height: 68px;
  flex-grow: 1;
}

.footer-subtitle {
  font-size: 14px;
  line-height: 1.29;

  color: #fff;
  padding-bottom: 14px;
}

.footer-socials-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14px;
  margin-right: 50px;
}
.footer-social-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}
.footer-social-item {
}
.footer-social-link {
}

.footer-address-container {
}
.footer-address {
  font-style: normal;
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  padding-bottom: 4px;
}
.footer-navigation {
  display: flex;
}
.footer-menu-list {
  display: flex;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 50px;
  flex-grow: 1;
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
.email {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 15px 121px 15px 24px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  display: flex;
}
form {
  display: flex;

  margin-top: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.footer-button {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 17px 40px;
  background-color: #fd9222;
  padding: 17px 33px 18px 32px;
  margin-top: 24px;
  display: flex;
  width: 137px;
  height: 52px;
  margin-left: 8px;
}
